/************************** App Theme **************************/

/* for light theme */
:root {
  --layoutBG: #1e1e2d;
  --screenBG: #f5f8fa;
  --cardBG: #ffffff;
  --fontColor: #3f4254;
  --app-header-height: 90px;
  --app-header-width: 84%;
  --appside-bar-width: 15rem;
  --aside-toolbar-height: 100vh;
  --link-active-color: #009ef7;
  --drop-down-box-shadow: 0px 0px 50px 0px rgb(82, 63, 105, 0.15);
}

/* for dark theme */
[data-theme="dark"] {
  --layoutBG: #1e1e2d;
  --screenBG: #151521;
  --cardBG: #1e1e2d;
  --fontColor: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************** Common Components **************************/

/* for dark horizontal line */

.horizontal-line {
  border-bottom: 1px solid #393945;
}

.icon {
  font-size: 18px;
}

.icon:hover {
  color: var(--link-active-color);
}

/************************** Layout **************************/

.app-menu {
  display: flex;
  flex-direction: column;
}

/* Header componenet */

.header {
  position: fixed;
  width: calc(100% - var(--appside-bar-width));
  top: 0;
  left: var(--appside-bar-width);
  height: var(--app-header-height);
  padding: 35px 10px;
  background: var(--cardBG);
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
}

.header-left,
.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

/* Header componenet - Theme Options */

.themeChange {
  position: relative;
}

.current-theme {
  font-size: 1.3rem;
}

.current-theme:hover {
  cursor: pointer;
  color: var(--link-active-color);
}

.theme-options {
  position: absolute;
  top: 37px;
  right: 0;
  width: 130px;
  border-radius: 0.475rem;
  background-color: var(--cardBG);
  padding: 10px 15px;
  box-shadow: var(--drop-down-box-shadow);
  opacity: 0;
  visibility: hidden;
  color: var(--fontColor);
  font-size: 1rem;
}

.themeChange:hover .theme-options {
  cursor: pointer;
  opacity: 1;
  visibility: visible;
}

.theme-option {
  padding: 5px 0px;
}

.theme-option:hover {
  cursor: pointer;
  color: var(--link-active-color);
}

.theme-option.active {
  color: var(--link-active-color);
}

/* aside componenet */

.aside {
  position: fixed;
  top: 0;
  z-index: 100;
  width: var(--appside-bar-width);
  background: var(--layoutBG);
  height: var(--aside-toolbar-height);
  padding: 30px 10px;
  transition: width 0.3s ease;
}

.logo {
  font-size: 1.5rem;
  color: #ffffff;
  padding-bottom: 25px;
}

span.rest-logo {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease;
}

span.rest-logo.hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}

.aside-close {
  position: absolute;
  top: 25px;
  right: -25px;
  background-color: var(--cardBG);
  z-index: 100;
}

/************************** Modules **************************/

.app-wrapper {
  margin-left: var(--appside-bar-width);
  margin-top: var(--app-header-height);
  background: var(--screenBG);
  padding: 50px;
  height: 100vh;
  transition: margin-left 0.3s ease;
}

@media (max-width: 480px) {
  :root {
    --appside-bar-width: 0rem;
  }
}
