/************************** App Theme **************************/

/* for light theme */
:root {
  --layoutBG: #1e1e2d;
  --screenBG: #f5f8fa;
  --cardBG: #ffffff;
  --fontColor: #3f4254;
  --app-header-height: 90px;
  --app-header-width: 84%;
  --appside-bar-width: 15rem;
  --aside-toolbar-height: 100vh;
}

/* for dark theme */
[data-theme="dark"] {
  --layoutBG: #1e1e2d;
  --screenBG: #151521;
  --cardBG: #1e1e2d;
  --fontColor: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************** Common Components **************************/

/* for dark horizontal line */

.horizontal-line {
  border-bottom: 1px solid #393945;
}

/************************** Layout **************************/

.app-menu {
  display: flex;
  flex-direction: column;
}

/* Header componenet */

.header {
  position: fixed;
  width: calc(100% - var(--appside-bar-width));
  top: 0;
  left: var(--appside-bar-width);
  height: var(--app-header-height);
  padding: 35px 10px;
  background: var(--cardBG);
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
}

.header-left {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* aside componenet */

.aside {
  position: fixed;
  top: 0;
  z-index: 100;
  width: var(--appside-bar-width);
  background: var(--layoutBG);
  height: var(--aside-toolbar-height);
  padding: 30px 10px;
  transition: width 0.3s ease;
}

.logo {
  font-size: 1.5rem;
  color: #ffffff;
  padding-bottom: 25px;
}

span.rest-logo{
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease;
}

span.rest-logo.hide{
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}

.aside-close {
  position: absolute;
  top: 25px;
  right: -25px;
  background-color: var(--cardBG);
  z-index: 100;
}

/************************** Modules **************************/

.app-wrapper {
  margin-left: var(--appside-bar-width);
  margin-top: var(--app-header-height);
  background: var(--screenBG);
  padding: 50px;
  height: 100vh;
  transition: margin-left 0.3s ease;
}

@media (max-width: 480px) {
  :root {
    --appside-bar-width: 0rem;
  }
}
